@model SignalRChat.DAL.ChatData.User

@{
    ViewBag.Title = "Sign-in to Chat";
}

<h4 id="myname">Enter your name:</h4>
<div class="container">
    <input type="text" id="username" onkeypress="return onEnterDown(event)"/>
    <input type="button" id="signin" value="Sign-In"
           onclick="location.href='@Url.Action("Chat", "Home")?name=' + $('#username').val() + '&contact=All'" />
</div>

<script>
    function onEnterDown(event) {
        if (event.which == 13 || event.keyCode == 13)
            $("#signin").click();
    }
</script>